<<<<<<< HEAD
<h1>
	Hola 
</h1>
<p>
	Da click <%= link_to 'aquí', new_user_2_session_path %> para iniciar sesión 	:)
=======
<h1>
	Hola 
</h1>
<p>
	Da click <%= link_to 'aquí', new_user_2_session_path %> para iniciar sesión 	:)
>>>>>>> 67732c59f3e054c7eb337c5daf88ca6fb03d52ee
</p>